:root {
  --color-1: #ffffff;
  --color-1-10: rgba(255, 255, 255, 0.1);
  --color-1-20: rgba(255, 255, 255, 0.2);
  --color-1-30: rgba(255, 255, 255, 0.3);
  --color-1-40: rgba(255, 255, 255, 0.4);
  --color-1-50: rgba(255, 255, 255, 0.5);
  --color-1-60: rgba(255, 255, 255, 0.6);
  --color-1-80: rgba(255, 255, 255, 0.8);
  --color-2: #181818;
  --color-3: #0f0f0f;
  --color-3-20: rgba(15, 15, 15, 0.2);
  --color-3-40: rgba(15, 15, 15, 0.4);
  --color-3-60: rgba(15, 15, 15, 0.6);
  --color-3-70: rgba(15, 15, 15, 0.7);
  --color-4: #48a0ff;
  --color-5: #ffba50;
  --color-6: #39dcc7;
  --color-7: #ac7eff;
  --color-8: #ff8e69;
  --color-9: #ff4651;
  --color-10: #3a3a3a;
  --color-10-40: rgba(58, 58, 58, 0.4);
  --color-10-50: rgba(58, 58, 58, 0.5);
  --color-11: #565656;
  --color-11-60: rgba(86, 86, 86, 0.6);
  --color-12: #000000;
  --color-12-40: rgba(0, 0, 0, 0.4);
  --color-13: #242424;
  --color-13-0: rgba(36, 36, 36, 0);
  --color-13-70: rgba(36, 36, 36, 0.7);
  --color-14: #fd4141;
  --color-15: #272727;

  --color-black-primary: var(--color-2);
  --color-white-primary: var(--color-1);
  --color-black-secondary: var(--color-3);
  --color-service-business: var(--color-4);
  --color-service-connect: var(--color-5);
  --color-service-lifestyle: var(--color-6);
  --color-service-intelligence: var(--color-7);
  --color-service-studio: var(--color-8);
  --color-service-networks: var(--color-9);
  --color-button-default: var(--color-10);
  --color-button-hover: var(--color-11);
  --color-component-header: var(--color-12);
  --color-component-nav: var(--color-13);
  --color-form-error: var(--color-14);
}
